body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

a {
  font-size: 18px;
  height: fit-content;
  min-height: 33vh;
  width: 80vw;
  margin-top: 20px;
  padding: 8px;
  word-break: break-word;
  text-align: center;
}
